* {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Inter";
  font-size: 16px;
  font-feature-settings: "ss01, ss02";
}

.clock-time {
  font-size: 8em;
}

.clock-date {
  font-size: 3.5em;
  font-style: italic;
  font-weight: 300;
}
